frontend/
node_modules/
*.md
LICENSE
docker-compose.yml
.do/
.husky/
.vscode/
.prettier*
.eslint*
.lintstagedrc*
/target
/temp
.github
.dockerignore
.git
.gitignore

translations/tests/
translations/examples/
translations/metta_queries/

api/target
